
.add-blog-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 10px;
  background-color: #ffffff; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.add-blog-container h2 {
  font-size: 1.8rem;
  color: #333; 
  margin-bottom: 1rem;
}

.add-blog-container form {
  display: flex;
  flex-direction: column;
}

.add-blog-container input,
.add-blog-container textarea {
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #555; 
  background-color: #f9f9f9; 
}

.add-blog-container input::placeholder,
.add-blog-container textarea::placeholder {
  color: #999; 
}

.add-blog-container button {
  background-color: #121795;
  color: #fff; 
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-blog-container button:hover {
  background-color: #3538c8;
}
